#top-banner {
  color: white;
  background-image: linear-gradient(to right, #2961c2, #25004f) 
}

.hidden {
  display: none;
}

.row {
  margin-top: .5rem;
}

.card {
  background: #293e51;
  padding: 5px;
}